#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config DOTNET
	tristate ".NET nanoFramework"
	default n
	---help---
		Enable .NET nanoFramework interpreter

if DOTNET

config DOTNET_PROGNAME
	string "Program name"
	default "dotnet-nf"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be
		 use when the NSH ELF program is installed.

config DOTNET_PRIORITY
	int "dotnet task priority"
	default 100

config DOTNET_STACKSIZE
	int "dotnet stack size"
	default 4096

endif # DOTNET
